#root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.root-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#map-container {
  display: flex;
  flex: 1;
  /* temporarily set the background color so we can tell where the map container is positioned */
  background-color: lightgrey;
}

.topBar {
  background-color: rgba(45, 57, 77, 0.95);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  margin: 12px;
  border-radius: 4px;
  position: absolute;
  top: 50;
  left: 0;
  z-index: 1;
}
.sidebar {
  background-color: rgba(45, 57, 77, 0.95);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  margin: 12px;
  border-radius: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.loadingBar {
  position: absolute;
  bottom: 0;
  left: 40vw;
  z-index: 1;
}
.cluster-classification {
  border: #000 2px solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  color: #000;
}
.debug-species-codes {
  padding: 12px;
  color: #000;
  font-family: monospace;
  z-index: 1;
  border-radius: 4px;
}

.mapboxgl-popup {
  z-index: 2;
}

.mapboxgl-popup-content {
  border: 1px solid rgba(45, 57, 77, 0.95);
  background-color: rgb(250, 250, 251);
  color: rgba(45, 57, 77, 0.95);
  font:
    400 12px "Source Sans Pro",
    "Helvetica Neue",
    sans-serif;
  padding: 5px;
  display: flex;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 15px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
  border-bottom-color: #91c949;
}

.hotspot-popup-container {
  max-height: 200px;
  overflow-y: auto;
}

.ebird-hotspot-link {
  display: block;
  margin-bottom: 5px;
}

.right-species-bar {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(45, 57, 77, 0.95);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  margin: 12px;
  border-radius: 4px;
}

.checkbox-scroll-list {
  max-height: 65vh;
  overflow-y: auto;
}

.checkbox-group {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
